.heroBanner {
    overflow: hidden;
    position: relative;
    background-image: url('/img/background-header-home.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    min-height: 425px;
}


.container {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

}

.heroTitle {
    color: #ffffff;
    text-align: left;
    font-size: 52px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -2px;
    margin-bottom: 40px;
    text-align: left;
}

.heroSubtitle {
    font-size: 24px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.5px;
    text-align: left;
    width: 70% !important;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 26px;
    margin-top: 0px;
    z-index: 2;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2rem;
    width: 350px;
    max-height: 380px;
}

.cardTitle {
    color: #424A52;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-align: center;
}

.cardText {
    color: #424A52;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}

.buttonLink {
    display: flex;
    justify-content: center;
    color: #0086FF;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.buttonLink:hover,
.buttonLink:focus {
    color: #0086FF;
    text-decoration: none;
    transform: scale(1.05);
}

@media screen and (min-width: 1600px) {
    .heroBanner {
        display: flex;
        flex-direction: column;
        background-position: center 100%;
        align-items: start;
        justify-content: center;
    }
    .cardsContainer {
        gap: 30px;
        margin-top: -10%;
    }
}


@media screen and (max-width: 768px) {
    .heroBanner {
        min-height: 500px;
    }

    .heroTitle {
        font-size: 40px;
        line-height: 40px;
        padding: 20px 20px;
        text-align: center !important;
        width: 100% !important;
        margin-top: 30px;

    }

    .heroSubtitle {
        font-size: 18px;
        line-height: 24px;
        padding: 0 15px;
        width: 100% !important;
        text-align: center;
    }

    .cardsContainer {
        gap: 20px;
        margin-top: -120px;
    }



    .card {
        padding: 1rem;
    }

    .container,
    .heroBanner {
        padding: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .heroBanner {
        min-height: 500px;
        padding: 20px;
    }

    .heroTitle {
        font-size: 32px !important;
        text-align: center !important;
        margin: 0;

    }

    .heroSubtitle {
        font-size: 16px;
        text-align: center;
        width: 100%;
        margin: 20px 0;
    }

    .card {
        padding: 1rem;
        width: auto;
    }

    .cardsContainer {
        flex-direction: column;
        margin-top: -140px;
    }

    .cardTitle {
        font-size: 18px;
    }

    .cardText {
        font-size: 13px;
    }

    .buttonLink {

        font-size: 15px;

    }
}